.skeleton {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    &:last-child {
        .item {
            width: 25%;
            height: 64px;
        }
    }
}

.item {
    height: 76px;
    width: 100%;
    border-radius: 8px;
    animation-duration: 1.7s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: placeholderAnimate;
    background: #f6f7f8; // Fallback
    background: linear-gradient(to right, #eee 2%, #ddd 18%, #eee 33%);
    background-size: 1300px;
}

@keyframes placeholderAnimate {
    0% {
      background-position: -650px 0;
    }
    100% {
      background-position: 650px 0;
    }
  }